<div>

      <!--
      Your HTML content here
    -->

    <md-list>
     <div layout="row" layout-align="center center">
      <h3 class="md-subhead">  </h3>
    </div>

    <div layout="row" layout-align="center">
      <img src="{{ vm.user.photo }}">
    </div>

    <div layout="row" layout-wrap>
      <div flex="15">

      </div>

      <div flex="33">

      </div>

      <div flex= "10">
       <h3 class="md-headline">{{ vm.user.userName }}</h3>
     </div>
     <div flex>
       <h4 class="md-headline"><i class="zmdi zmdi-circle" ng-if="vm.user.status == 'in'" style="color:green"></i></h4>
       <h4 class="md-headline"><i class="zmdi zmdi-circle" ng-if="vm.user.status == 'out'" style="color:red"></i></h4>
     </div>

   </div>
  </md-list>



  <md-list>
    <md-subheader class="md-no-sticky">Checkins</md-subheader>
    <md-list-item ng-repeat="checkIn in vm.checkIns">
      <p style="text-align: center;">
        {{ checkIn.createdAt*1000 | date:'medium' }}
        <span style="display: inline-block; width: 50px;"></span>
        <i class="zmdi zmdi-long-arrow-left zmdi-hc-lg" ng-if="checkIn.type == 'in'" style="color:green"></i>
        <i class="zmdi zmdi-long-arrow-right zmdi-hc-lg" ng-if="checkIn.type == 'out'" style="color:red"></i>
      </p>
    </md-list-item>
  </md-list>
</div>