<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="path/to/material-design-color-palette/css/material-design-color-palette.min.css">

  <link rel="stylesheet" type="text/css" href="style.css">.
</head>
<body ng-app="SmartAttendanceSystem" ng-cloak>
  <div ng-controller="StudentCtrl as vm">

      <!--
      Your HTML content here
    -->  
    
    <md-toolbar class="md-hue-2">
      <div layout="row" layout-wrap>  
        <h3 class="md-subhead"><md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon><i class="zmdi zmdi-menu zmdi-hc-2x"></i></md-icon>
        </md-button></h3> 
        <div flex="45"></div> 
        <div flex="40">
          <h3 class="md-title"> User Detail</h3>
        </div>  
      </div>

    </md-toolbar>

    <md-list>
     <div layout="row" layout-align="center center">
      <h3 class="md-subhead">  </h3>
    </div>

    <div layout="row" layout-warp>
      <div flex="45">

      </div>

      <div flex="50">
        <img src="{{ vm.user.picture }}">

      </div>
      <div flex>
        <i class="zmdi zmdi-star zmdi-hc-2x" style="color: yellow"></i>
      </div>  
    </div>

    <div layout="row" layout-wrap>
      <div flex="15">

      </div>  

      <div flex="33">

      </div>  

      <div flex= "10"> 
       <h3 class="md-headline">{{ vm.user.name }}</h3>
     </div>
     <div flex> 
       <h4 class="md-headline"><i class="zmdi zmdi-circle" ng-if="vm.user.status == 'in'" style="color:green"></i></h4>
       <h4 class="md-headline"><i class="zmdi zmdi-circle" ng-if="vm.user.status == 'out'" style="color:red"></i></h4>
     </div>

   </div>
  </md-list>



  <md-list>
    <md-subheader class="md-no-sticky">Student</md-subheader>
    <md-list-item>

      <p>Picture and name</p>
      <time>DATE & TIME</time> 
      <p><time datetime></time></p>  
      <dev>In/out</dev>
    </md-list-item>

    <md-list-item ng-repeat="checkIn in vm.checkIns">
      <img alt="{{ vm.user.name }}" src="{{ vm.user.picture }}" class="md-avatar" />
      <p>{{ vm.user.name }}</p>
      <p>{{ checkIn.dateTime }}</p> 
      <i class="zmdi zmdi-long-arrow-left zmdi-hc-3x" ng-if="checkIn.status == 'in'" style="color:green"></i>
      <i class="zmdi zmdi-long-arrow-left zmdi-hc-3x" ng-if="checkIn.status == 'out'" style="color:red"></i>
    </md-list-item>
  </md-list>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript" src="./scripts/app.js"> </script>
<script type="text/javascript" src="./scripts/student.controller.js"></script>

</body>
</html>